<div class="flex min-h-full flex-col items-center justify-center px-6 py-12 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div class="text-center">
      <h2 class="mt-6 text-3xl font-bold tracking-tight text-gray-900">
        Edit <%= resource_name.to_s.humanize %>
      </h2>
    </div>

    <% resource.build_address unless resource.address %>

    <%= simple_form_for resource,
                        as: resource_name,
                        url: registration_path(resource_name),
                        html: { method: :put, class: "mt-8 space-y-6", multipart: true } do |f| %>
      <%= render "devise/registrations/shared/error_messages", resource: resource %>
      <%= render "devise/registrations/shared/avatar_field",           f: f %>
      <%= render "devise/registrations/shared/credentials_fields",     f: f, minimum_password_length: @minimum_password_length %>
      <%= render "devise/registrations/shared/name_fields",            f: f %>
      <%= render "devise/registrations/shared/address_fields",         f: f %>
      <%= f.button :submit, "Update account",
                   class: "group relative flex w-full justify-center rounded-md bg-indigo-600 py-2 px-4 text-sm font-semibold text-white hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2" %>
    <% end %>

    <%= simple_form_for @delete_user,
                        as: resource_name,
                        url: registration_path(resource_name),
                        html: {
                          method: :delete,
                          class: "pt-6 space-y-6 border-t border-gray-200",
                          data: { confirm: "Do you really want to close your account? This cannot be undone." }
                        } do |f| %>
      <%= render "devise/registrations/shared/error_messages", resource: @delete_user %>
      <%= render "devise/registrations/shared/delete_account_form",     f: f %>
    <% end %>

    <p class="mt-4 text-center text-sm text-gray-600">
      <%= link_to "Back", :back, class: "font-medium text-indigo-600 hover:text-indigo-500" %>
    </p>
  </div>
</div>
