= simple_form_for @task do |f|
  = f.error_notification
  = f.input :subject,
            required: true,
            input_html: { maxlength: 255 }
  = f.rich_text_area :description
  - if f.object.persisted?
    = f.input :status,
              as: :select,
              collection: Task.statuses.keys.map { |s| [s.humanize, s] },
              required: true
  = f.association :user,
                  required: true
  = f.association :project,
                  required: true

  %div{ data: { controller: "attachments" } }
    %div{ data: { "attachments-target": "list" } }
      = f.simple_fields_for :task_attachments do |ta|
        = render 'task_attachment_fields', f: ta

    %template{ data: { "attachments-target": "template" } }
      = f.simple_fields_for :task_attachments, TaskAttachment.new, child_index: "NEW_RECORD" do |ta|
        = render 'task_attachment_fields', f: ta, new_record: true

    .mt-2
      %button{ type: "button",
               class: "btn btn-secondary hover:opacity-80",
               data: { action: "attachments#add" } }
        Add attachment

  = f.button :submit, class: 'btn btn-primary mt-4'
