<%= simple_form_for @task do |f| %>
  <%= f.error_notification %>
  <%= f.input :subject %>
  <%= f.input :description %>
  <% if f.object.persisted? %>
    <%= f.input :status, as: :select, collection: Task.statuses.keys.map { |s| [s.humanize, s] }%>
  <% end %>
  <%= f.association :user %>
  <%= f.association :project %>
  <div class="form-group">
    <%= f.input :attachments,
                as: :file,
                input_html: {
                  multiple: true,
                  direct_upload: true
                } %>
  </div>
  <%= f.button :submit %>
<% end %>
