<div id="<%= dom_id task %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Subject:</strong>
    <%= task.subject %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= task.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= task.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= task.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Project:</strong>
    <%= task.project_id %>
  </div>
</div>
