%tr
  = render "shared/table_td", value: task.subject
  = render "shared/table_td", value: task.status.humanize
  = render "shared/table_td", value: task.user
  = render "shared/table_td", value: task.project.name
  = render "shared/table_td", value: l(task.created_at, format: :short)
  = render "shared/table_td_flex" do
    = render 'shared/action_link', name: 'Show', path: task
    = render 'shared/action_link', name: 'Edit', path: edit_task_path(task)
    = render 'shared/destroy_button', resource: task
