- content_for :title, "Tasks"

= render "shared/primary_container", title: "Tasks", path: new_task_path do
  = render 'shared/flash'

  = render 'shared/table',
            headers: [{ attr: :subject,    label: "Subject" },
    { attr: :status,     label: "Status" },
    { attr: nil,         label: "Assigned to" },
    { attr: nil,         label: "Project" },
    { attr: :created_at, label: "Created at" },
    { attr: nil,         label: "Actions" }],
    pagination: @tasks,
    search: { form: @q, url: tasks_path, fields: [:subject] } do
    - if @tasks.any?
      = render partial: "task_row", collection: @tasks, as: :task
    - else
      %tr
        = render "shared/table_td", value: "No tasks found."
