<% content_for :title, "Showing task" %>


<%= render "shared/secondary_container", title: "Showing task" do %>
  <%= render @task %>

  <% if @task.task_attachments.present? %>
    <h2 class="mt-10 font-bold text-2xl mb-2">Attachments:</h2>
  <% end %>

  <% @task.task_attachments.each do |attachment| %>
    <div class="attachment">
      <div class="flex flex-row items-center gap-1 mb-2">
        <strong>Note:</strong>
        <%= attachment.note %>
      </div>
      <%= link_to "Link", url_for(attachment.file), target: "_blank" %>
      <% if attachment.file.image? %>
        <%= image_tag attachment.file.variant(resize_to_limit: [200, 200]) %>
      <% end %>
    </div>
    <hr class="my-4">
  <% end %>

  <%= render 'shared/action_link_primary', name: 'Edit this task', path: edit_task_path(@task) %>
  <%= render 'shared/action_link_primary', name: 'Back to tasks', path: tasks_path %>
  <%= render 'shared/destroy_button_primary', name: 'Destroy this task', resource: @task %>
<% end %>
