<h2>Resend unlock instructions</h2>

<%= simple_form_for(resource,
                    as: resource_name,
                    url: unlock_path(resource_name),
                    html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.input :email,
                as: :email,
                required: true,
                autofocus: true,
                autocomplete: "email",
                label: true,
                label_html: {},
                input_html: {} %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Resend unlock instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
