<div id="<%= dom_id user %>" class="w-full sm:w-auto my-5 space-y-5">

  <%= render "users/user_avatar", user: user %>

  <div>
    <strong class="block font-medium mb-1">First name:</strong>
    <%= user.first_name %>
  </div>

  <div>
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= user.last_name %>
  </div>

  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user.email %>
  </div>

  <div>
    <strong class="block font-medium mb-1">Created at:</strong>
    <%= l(user.created_at, format: :short ) %>
  </div>
  <% if user.address.present? %>
    <div>
      <strong class="block font-medium mb-1">Address:</strong>
      <%= "#{user.address.street_name} #{user.address.street_number}, " \
            "#{user.address.city}, #{user.address.postal_code}, #{user.address.country_name}" %>
    </div>
  <% end %>
</div>
