<div id="<%= dom_id user %>" class="w-full sm:w-auto my-5 space-y-5">
  <div class="flex items-center space-x-4">
    <% if user.avatar.attached? %>
      <%= image_tag user.avatar.variant(resize_to_limit: [50,50]), class: "rounded-full" %>
    <% else %>
      <div class="w-12 h-12 bg-gray-200 rounded-full flex items-center justify-center text-gray-400">
        <%= user.first_name.first.upcase %>
      </div>
    <% end %>
    <div>
      <p class="font-medium"><%= user.first_name %> <%= user.last_name %></p>
      <p class="text-sm text-gray-500"><%= user.email %></p>
    </div>
  </div>

  <div>
    <strong class="block font-medium mb-1">Joined at:</strong>
    <%= user.created_at.strftime("%B %d, %Y %H:%M") %>
  </div>
  <% if user.address.present? %>
    <div>
      <strong class="block font-medium mb-1">Address:</strong>
      <%= "#{user.address.street_name} #{user.address.street_number}, " \
            "#{user.address.city}, #{user.address.postal_code}, #{user.address.country_name}" %>
    </div>
  <% end %>
</div>
