<div class="flex flex-col">
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="border border-gray-200 rounded-lg divide-y divide-gray-200">
        <% if local_assigns[:search] %>
          <div class="py-3 px-4">
            <%= render 'shared/search_form',
                       form: search[:form],
                       url: search[:url],
                       fields: search[:fields] %>
          </div>
        <% end %>

        <div class="overflow-hidden">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <% headers.each do |h| %>
                  <th scope="col"
                      class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
                    <% if h[:attr] %>
                      <%= sort_link(search[:form], h[:attr], h[:label]) %>
                    <% else %>
                      <%= h[:label] %>
                    <% end %>
                  </th>
                <% end %>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
            <%= yield %>
            </tbody>
          </table>
        </div>

        <div class="py-1 px-4">
          <nav class="flex items-center space-x-1" aria-label="Pagination">
            <%= paginate pagination %>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>