%tr
  = render "shared/table_td", value: project.name
  = render "shared/table_td", value: l(project.created_at, format: :short)
  = render "shared/table_td", value: project.tasks_count
  = render "shared/table_td_flex" do
    = render 'shared/action_link', name: 'Show', path: project
    = render 'shared/action_link', name: 'Edit', path: edit_project_path(project)
    = render 'shared/destroy_button', resource: project
