<% content_for :title, "Showing project" %>

<%= render "shared/secondary_container", title: "Showing project" do %>
  <%= render @project %>

  <%= render 'shared/action_link_primary', name: 'Edit this project', path: edit_project_path(@project) %>
  <%= render 'shared/action_link_primary', name: 'Back to projects', path: projects_path %>
  <%= render 'shared/destroy_button_primary', name: 'Destroy this project', resource: @project %>

  <h2 class="mt-10 font-bold text-3xl">Tasks for project: </h2>

  <div class="mt-3">
    <%= render 'shared/table',
               headers: [
                 { attr: nil, label: "Subject" },
                 { attr: nil, label: "Status" },
                 { attr: nil, label: "Assigned to" },
                 { attr: nil, label: "Project" },
                 { attr: nil, label: "Created at" },
                 { attr: nil, label: "Actions" }
               ],
               pagination: @tasks do %>
      <% if @tasks.any? %>
        <%= render partial: "tasks/task_row", collection: @tasks, as: :task %>
      <% else %>
        <tr>
          <%= render "shared/table_td", value: "No tasks found." %>
        </tr>
      <% end %>
    <% end %>
  </div>
<% end %>